body #local-assessfreq-index {
    font-family: Arial, serif;
    display: none;
}

/* Style the tab */
#local-assessfreq-index .tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Hide the filter options */
#local-assessfreq-index .form-autocomplete-selection,
#local-assessfreq-index #local-assessfreq-course-filter {
    display: none;
}

/* Style the buttons inside the tab */
#local-assessfreq-index .tabs a {
    color: #000;
    text-decoration: none;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.local-assessfreq-card {
    margin-top: 10px;
}

.local-assessfreq-card .card-header {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: 600;
}

.local-assessfreq-card .card-contents {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    text-align: left;
    overflow: scroll;
}

#local-assessfreq-index .chart-area .chart-image {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 40vw;
}

/* Change background color of buttons on hover */
#local-assessfreq-index .tabs a:hover {
    text-decoration: none;
    background-color: #ddd;
}

/* Create an active/current tablink class */
#local-assessfreq-index .tabs a.active {
    background-color: #ccc;
}

/* Style the tab content */
#local-assessfreq-index .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#local-assessfreq-index .dialog-data {
    display: none;
}

.filters > div {
    padding: 0 20px 20px 0;
    display: inline-block;
}

.filter-submit {
    float: right;
}


.modal-dialog.local-assessfreq-modal-large {
    max-width: 90%;
}

.modal-dialog.local-assessfreq-modal-large .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-dialog.local-assessfreq-modal-large .modal-body .chartjs-render-monitor {
    min-height: calc(100vh - 250px);
}

#local-assessfreq-index .dropdown-menu .dropdown-item.active {
    outline: 0;
    background-color: #0176be;
    color: #fff;
}

/* Loading page and animation */
#loader-wrapper {
    text-align: center;
    height: 300px;
    color: #000;
}

#loader,
#loader:before,
#loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

#loader {
    color: #000;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

#loader:before,
#loader:after {
    content: '';
    position: absolute;
    top: 0;
}

#loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
